body{
    background-color: rgb(40, 64, 85);
}

*{
    margin: 0;
    padding: 0;
}


.container{
    display: flex;
}

.right{
    height: 100%;
    width: 100%;
    margin-left: 30%;
}

.left{
    width: 30%;
    height: 100%;
    position: fixed;
} 
